html, body {
  margin: 0;
  padding: 0;
}

* { // Just makes everything so much easier
  box-sizing: border-box;
}

.menu {
  background: #CCC;
  height: 30px;
  padding: 1px;
  display: flex;
}

.menu-button {
  padding: 1px;
  width: 28px;
  height: 28px;
}

.selector {
  padding: 5px;
  width: 26px;
  height: 26px;
  background: #CCC;
  text-align: center;

  transition: background 0.05s linear;

  &.selected {
    background: #888;
  }
}

.divider {
  width: 0;
  height: 30px;
  margin: 1px;
  margin-top: -1px;
  border-left: 1px solid #888;
}
