<div class="menu">
  <menu-button name="undo" icon="undo"></menu-button>
  <menu-button name="redo" icon="redo"></menu-button>
  <menu-button name="print" icon="print"></menu-button>
  <div class="divider"></div>
  <menu-button name="bold" icon="bold" toggle></menu-button>
  <menu-button name="italic" icon="italic" toggle></menu-button>
  <menu-button name="underline" icon="underline" toggle></menu-button>
  <div class="divider"></div>
  <menu-button name="left" icon="align-left" toggle="textalign"></menu-button>
  <menu-button name="center" icon="align-center" toggle="textalign"></menu-button>
  <menu-button name="right" icon="align-right" toggle="textalign"></menu-button>
  <menu-button name="justify" icon="align-justify" toggle="textalign"></menu-button>
</div>
