<app-menu-button class="menu-button" name="undo" icon="undo"></app-menu-button>
<app-menu-button class="menu-button" name="redo" icon="redo"></app-menu-button>
<app-menu-button class="menu-button" name="print" icon="print"></app-menu-button>
<div class="divider"></div>
<app-menu-button class="menu-button" name="bold" icon="bold" toggle></app-menu-button>
<app-menu-button class="menu-button" name="italic" icon="italic" toggle></app-menu-button>
<app-menu-button class="menu-button" name="underline" icon="underline" toggle></app-menu-button>
<div class="divider"></div>
<app-menu-button class="menu-button" name="left" icon="align-left" toggle="textalign"></app-menu-button>
<app-menu-button class="menu-button" name="center" icon="align-center" toggle="textalign"></app-menu-button>
<app-menu-button class="menu-button" name="right" icon="align-right" toggle="textalign"></app-menu-button>
<app-menu-button class="menu-button" name="justify" icon="align-justify" toggle="textalign"></app-menu-button>
